<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-full bg-white" style="font-family: 'Noto Sans KR',serif">
<head th:fragment="headFragment">
    <meta charset="UTF-8">
    <!-- Mobile screen settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <script th:if="false" src="https://unpkg.com/@tailwindcss/browser@4"></script>

    <script th:src="@{/webjars/tailwindcss__browser/4.0.6/dist/index.global.js}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <title th:text="${pageTitle}">Sign In</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>

</head>
<body class="h-full">
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->

</body>
</html>